<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>@shrine_title@</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="/media/css/bootstrap.css" rel="stylesheet" />
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/media/ico/favicon.png" />

  </head>

  <body>
    <h1>Hello World</h1>

    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
    <script src="/media/js/bootstrap-tooltip.js"></script>
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
    <script src="/media/js/bootstrap-typeahead.js"></script>
    <script src="/media/js/bootstrap-affix.js"></script>
  </body>
</html>
