<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>@shrine_name@</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="/media/css/bootstrap.css" rel="stylesheet" />
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/media/ico/favicon.png" />

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">@domain@</a>
          {% block nav_bar_content %}
          {% end %}
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      <h1>Welcome to @shrine_name@</h1>
      <h3>Please contact me at @email@</h3>
      {% end %}
      <hr>

      <footer>
        <p>&copy; @domain@ 2013</p>
      </footer>

    </div>

    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap-transition.js"></script>
    <script src="/media/js/bootstrap-alert.js"></script>
    <script src="/media/js/bootstrap-modal.js"></script>
    <script src="/media/js/bootstrap-dropdown.js"></script>
    <script src="/media/js/bootstrap-scrollspy.js"></script>
    <script src="/media/js/bootstrap-tab.js"></script>
    <script src="/media/js/bootstrap-tooltip.js"></script>
    <script src="/media/js/bootstrap-popover.js"></script>
    <script src="/media/js/bootstrap-button.js"></script>
    <script src="/media/js/bootstrap-collapse.js"></script>
    <script src="/media/js/bootstrap-carousel.js"></script>
    <script src="/media/js/bootstrap-typeahead.js"></script>
    <script src="/media/js/bootstrap-affix.js"></script>
  </body>
</html>
